<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!--<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.persona})"> </head> -->
    <head th:replace="fragments/base.html :: headerfiles"> </head> 
    
<body>
    <div class="topnav">
      <a href="/home" th:text="#{header.home}">Home</a>
      <a href="/collezioni" th:text="#{header.collezioni}">Collezioni</a>
      <a href="/opere" th:text="#{header.opere}">Opere</a>
      <a class="active" href="/artisti" th:text="#{header.artisti}">Artisti</a>
      <a href="/admin/home" th:text="#{header.areaAdmin}">Area admin</a>
    </div>
	  <header th:replace="fragments/base.html :: intestazione"></header>
    
    <section>
    <div>
      <h4 th:text="#{header.artisti}">Lista artisti</h4>
      <form th:action="@{/admin/modifyArtista}" method="POST">
      <ul>
        <li th:each="artista : ${artisti}">
          <a href="artista.html" 
             th:href="@{'/admin/modifyArtista' + '/' + ${artista.id}}" 
             th:text="|${artista.nome} ${artista.cognome}|"></a>
         
        </li>
      </ul>
    </div>   
    </section>


    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>