<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!--<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.persona})"> </head> -->
    <head th:replace="fragments/base.html :: headerfiles"> </head> 
    
<body>
  <div class="topnav">
    <a href="/home" th:text="#{header.home}">Home</a>
    <a class="active" href="/collezioni" th:text="#{header.collezioni}">Collezioni</a>
    <a href="/opere" th:text="#{header.opere}">Opere</a>
    <a href="/artisti" th:text="#{header.artisti}">Artisti</a>
    <a href="/admin/home" th:text="#{header.areaAdmin}">Area admin</a>
  </div>
	<header th:replace="fragments/base.html :: intestazione"></header>
  
  <section>    
    
    <div th:if="${collezione}" th:object="${collezione}">
      <h4 th:text="#{msgCollezione.nome}"></h4>
      <span th:text="*{nome}"></span>
      <h4 th:text="#{msgCollezione.descrizione}"></h4>
      <p th:utext="*{descrizione}"></p>

      <h4 th:text="#{header.opere}">Lista opere</h4>
      <ul>
        <li th:each="opera : ${opere}">
          <a href="opera.html" 
             th:href="@{'/opere' + '/' + ${opera.id}}" 
             th:text="|${opera.titolo}, ${opera.anno}|"></a>
        </li>
      </ul>

      <div th:object="${curatore}">
        <h4 th:text="#{header.curatore}">Curatore:</h4>
        <span th:text="|*{nome} *{cognome}, *{matricola}|">nome</span>
        <p th:utext="|Email: *{email}|">dati</p> 
        <p th:utext="|Telefono: *{numeroTelefono}|">dati</p>      
      </div>


    </div>
    <div th:unless="${collezione}">Non esiste</div>


  </section>




  <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>