<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!--<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.persona})"> </head> -->
    <head th:replace="fragments/base.html :: headerfiles"> </head> 
    
<body>
    <div class="topnav">
      <a href="/home" th:text="#{header.home}">Home</a>
      <a href="/collezioni" th:text="#{header.collezioni}">Collezioni</a>
      <a href="/opere" th:text="#{header.opere}">Opere</a>
      <a href="/artisti" th:text="#{header.artisti}">Artisti</a>
      <a class="active" href="/admin/home" th:text="#{header.areaAdmin}">Area admin</a>
    </div>
	  <header th:replace="fragments/base.html :: intestazione"></header>
    
    <section>
    <div>
      <h4 th:text="#{header.opere}">Lista collezioni</h4>
      <form th:action="@{/admin/deleteOpera}" method="POST">
        <ul>
          <li th:each="opera : ${opere}">
            <div>
              <input type="radio" name="operaDaCancellare" th:value="${opera.id}"/>
              <label th:text="|${opera.titolo}, ${opera.anno}|"></label>
            </div>
            

          </li>
        </ul>

      
        <div>
          <span><button type="submit">Cancel</button></span>
        </div>
    
      </form>

    </div>   

    </section>





    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>