<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8" />
	<link th:href="@{/css/myStyle.css}" rel="stylesheet">
	<title >Pinacoteca Nazionale</title> 
</head>
<body>

	<header th:fragment="intestazione">
		<h1>Pinacoteca Nazionale</h1>
	</header>

	
	
	<footer th:fragment="fondo">
		<h3 id="footer">Pinacoteca Nazionale</h3>
		<p id="footer">Per info e prenotazioni chiamare 065512676</p>
	</footer>
</body>
</html>